<%# restaurants.each do |restaurant| %>
  <div id="<%= dom_id restaurant %>">

    <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
      <div class="aspect-w-3 aspect-h-4 bg-gray-200 group-hover:opacity-75 sm:aspect-none sm:h-96">
        <%= image_tag(url_for(restaurant.logo.variant(resize_to_limit: [100, 100])), class: "h-full w-full object-cover object-center sm:h-full sm:w-full") %>
        <!-- <img src="https://tailwindui.com/img/ecommerce-images/category-page-02-image-card-01.jpg" alt="Eight shirts arranged on table in black, olive, grey, blue, white, red, mustard, and green." class="h-full w-full object-cover object-center sm:h-full sm:w-full"> -->
      </div>
      <div class="flex flex-1 flex-col space-y-2 p-4">
        <h3 class="text-sm font-medium text-gray-900">
          <%= link_to restaurant_path(restaurant) do %>
            <span aria-hidden="true" class="absolute inset-0"></span>
            <%= restaurant.name %>
          <% end %>
        </h3>
        <p class="text-sm text-gray-500"><%= truncate(restaurant.description, length: 20) %></p>
        <div class="flex flex-1 flex-col justify-end">
          <p class="text-sm italic text-gray-500"><%= price_range_output(restaurant.price_range) %></p>
          <p class="text-base font-medium text-gray-900"><%= restaurant.category.display_name %></p>
        </div>
      </div>
    </div>

  </div>
<%# end %>
